*.egg-info
*.log
*.mo
*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
devsrc/
htmlcov/
include/
lib/
local/
log.html
output.xml
parts/
report.html
src/*
!src/noeku
var/
